<div class="login-container">
  <form class="login-box">
    <div class="input-group">
      <label class="input-label">Username</label>
      <input class="input-field" name="username" placeholder="username" type="text" name="username" [(ngModel)]="username" />
    </div>
    <div class="input-group">
      <label class="input-label">Password</label>
      <input class="input-field" name="password" placeholder="password" type="password" name="password" [(ngModel)]="password" />
    </div>
    <button (click)="gotohome()" class="login-btn">Login</button>
  </form>
</div>