<form (submit)="addpBtn()" class="inputform">
  <label>Title:</label>
  <input type="text" placeholder="title" name="title" [(ngModel)]="title"  />
  <label>Price:</label>
  <input type="number" placeholder="price" name="price" [(ngModel)]="price" />
  <label>Description:</label>
  <textarea placeholder="description" name="description" [(ngModel)]="description"></textarea>
  <label>Brand:</label>
  <input type="text" placeholder="brand" name="brand" [(ngModel)]="brand" />
  <label>Status:</label>
  <select name="status" [(ngModel)]="status">
    <option value="Instock">Instock</option>
    <option value="Out of stock">Out of stock</option>
  </select>
  <label>Stock:</label>
  <input type="number" placeholder="stock" name="stock" [(ngModel)]="stock"/>
  <button type="submit" class="addbtn">Add Product</button>
</form>


<div class="backbtn">
  <button (click)="gotohome()" class="bthbtn">Back to Home</button>
</div>