<div *ngIf="signin" class="login-container">
  <form class="login-box">
    <div class="input-group">
      <label class="input-label">Username</label>
      <input class="input-field" name="username" placeholder="username" type="text" name="username" [(ngModel)]="username" />
    </div>
    <div class="input-group">
      <label class="input-label">Password</label>
      <input class="input-field" name="password" placeholder="password" type="password" name="password" [(ngModel)]="password" />
    </div>
    <button (click)="gotohome()" class="login-btn">Login</button>
    <p (click)="gotosignup()">New User? <span class="signup">Sign up</span></p>
  </form>
</div>






<div *ngIf = "!signin" class="login-container">
  <form class="login-box">
    <div class="input-group">
      <label class="input-label">Username</label>
      <input class="input-field" name="username" placeholder="username" type="text" name="username" [(ngModel)]="username" />
    </div>
    <div class="input-group">
      <label class="input-label">Password</label>
      <input class="input-field" name="password" placeholder="password" type="password" name="password" [(ngModel)]="password" />
    </div>
    <div class="input-group">
      <label class="input-label">Email</label>
      <input class="input-field" name="email" placeholder="email" type="email" [(ngModel)]="email" />
    </div>
    <div class="input-group">
      <label class="input-label">Role</label>
      <select [(ngModel)]="role" name="role" id="role">
        <option value="User">User</option>
        <option value="Admin">Admin</option>
      </select>
    </div>
    <button (click)="gotosignin()" class="login-btn">Sign Up</button>
  </form>
</div>